# Mark image directories as export-ignore so they don't get included in pip install
analyses export-ignore
*.png export-ignore
*.jpg export-ignore
*.jpeg export-ignore
*.gif export-ignore
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true